@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    font-family: "Alata", Helvetica;
    --purple: #800080ff;
    --white: #ffffffff;
    --caribbean-current: #006c67ff;
    --raw-umber: #8e6e53ff;
    --tropical-indigo: #a682ffff;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.navBar {
display: flex;
justify-content: space-between;
/* Navbar */
height: 60px;
width: 100%;
/* border: solid red 4px; */
}


/* Title on the top left */
.navBar_logo{
    font-size: 2em;
    text-align: left;
    margin-left: 10px;
    margin-top: 4px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    color: white;
}

.navBar_logo span{
    color: #800080;
    font-size: 30px;
}

.navBar_center{
    text-align: center;
    margin-top: 8px;
    margin-right: 33%;
    width: 32rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: green solid 4px; */
    color: white;
    
}

.authBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border: solid green 3px; */
    height: 100%;
}


.textbox{
    width: 540px;
    /* border: red 3px solid; */
    margin-top: 0%;
    margin-left: 10%;
    color: var(--white);
    

}

.textbox span{
    color: var(--purple);
    font-size: 48px;
}

.textbox h1{
    color: var(--purple);
    font-size: 40px;
    margin: 0;
    font-weight: 100;
}



.authForm{
    padding: 3%;
    /* border: solid purple 3px; */
    width: 540px;
    height: 700px;
}


.isMember{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    color: var(--white);
    border: none;
    background: none;
    margin-left: 2em;
}

.isMember:hover{
    color: var(--purple);
    cursor: pointer;
    animation: smooth ease-in-out 1s;
    margin-left: 2em;
}

a{
    color: var(--white);
    text-decoration: none;
}

a:hover{
    color: var(--purple);
    transform: all ease-in 0.5s;
}