@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@layer base{
:root{
    --purple: #800080ff;
    --white: rgba(166, 166, 166, 0);
    --caribbean-current: #006c67ff;
    --raw-umber: #8e6e53ff;
    --tropical-indigo: #a682ffff;
    --tropical-indigo-trans: rgba(165, 130, 255, 0.623);
    --special-white: #ffffffab;
    --tropical-indigo-trans: #006c67ff;


    /* Fonts */

    --heading: "Alata", sans-serif;
    --text: "Red Hat Text", sans-serif;
    --fancy: "EB Garamond", serif;

    /* Typeface */

    --base-size: 1rem;
    --scale: 1.2;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
}

/* Entire webpage */
.mainContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    backdrop-filter: blur(6px);
}
    /* background-color: var(--white); */
/*  */
/* header */
/* header of body */


.headerContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.headerContainer h1{
    flex: 1;
    /* border: green 3px solid; */
    max-width: 40%;
    height: 100%;
    margin: 0;
}

.headerContainer h1:nth-child(1){
    font-size: 36px;
    padding: 0.2em;
}

.headerContainer div{
    flex: 1;
    justify-content: flex-end;

}






/* Body */
.bodyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}



/*  main part of body */
main{
    /* border: solid 3px blue; */
    position: relative;
    /* Sizing of the main box */
    flex: 4; 
    /* flex for the children */
    display: flex;
    flex-direction: column;
    
}


main *{
    /* border: solid brown 3px; */
    padding: 0.4em;
}

.upperMain{
    /* border: solid silver 5px; */
    flex: 1;
    max-height: 50%;

    /* CHild styling */

    display: flex;
    flex-direction: row;
    gap: 0.3em;
}
.upperMain div{
    flex: 3;
    border: solid 0.4px var(--caribbean-current);
    
}

.lowerMain{
    flex: 1;
    max-height: 50%;

    /* Child styling */

    display: flex;
    flex-direction: row ;
    gap: 0.3em
}


}
@layer header{

    header{
        border: solid  1px var(--caribbean-current);
        color: var(--caribbean-current);
        flex: 3;
        max-height: 6em;
    
    }

    .headerContainer{
        border-bottom: solid 2px var(--caribbean-current);
        box-shadow: 0 0  1px var(--tropical-indigo), 0 0 10px black;
    }
}
@layer UpperMain{

    .upperMain div{
        border: 1px solid var(--violet);
        box-shadow: 0 0 5px var(--tropical-indigo), 0 0 2px var(--caribbean-current);
        border-radius: 8px;
        margin: 0.3rem;
    }

    .upperMain div:hover{
        box-shadow: 0 0 10px var(--tropical-indigo), 0 0 10px black;
        transition: all 0.2s ease-in-out;
    }

    .upperMain div h3{
        margin: 0;
        padding: 0.3rem;
        border-bottom: solid 1px var(--caribbean-current);
        color: var(--caribbean-current);
    }


    .meds{
        
        
    }

    .meds:hover{
        
        
    }
}

@layer LowerMain{
    .lowerMain div{
        box-shadow: 0 0 1px var(--caribbean-current);
        border: none;
        
    }

    .lowerMain div{
        flex: 1;
        margin: 0.4rem;
    }


    .lowerMain div:hover{
        flex: 3;
        padding: 0.5rem;
        margin: 0.4rem;
        transition: all ease-in 400ms;
        font-weight: 500;
    }
}